@{

    ViewData["Title"] = "ExampleCpntroller Index sayfası";
    Layout = "ExampleLayout";

}



@section header 
{
    <p>bu kodlar headerın hemen altına eklenir.</p>
}

<div>bu sayfa example controller > Index sayfası</div>

@section footer
{
    <p>bu kodlar footerin hemen altına eklenir.</p>
}
